<div class="center jumbotron">
  <h1>Welcome to YIPYAP</h1>
  
  <h2>
    This is the home page for my
    <a href="https://twitter.com">Twitter</a>
    clone app.
  </h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>