<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Drew's App! Click on the link below to activate your account:
</p>

<%= link_to "activate account", edit_account_activation_url(@user.activation_token, email: @user.email)%>
