<% provide(:title, "Edit profile") %>
<% provide(:button_text, "Save changes!") %>
<% provide(:form_path, user_path) %>
<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'users/form' %>
    <div class="gravatar_edit">
      <%= gravatar_for(@user) %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener noreferrer">Change</a>
    </div>
  </div>
</div>