<% provide(:title, "Sign Up") %>
<% provide(:button_text, "Sign up!") %>
<% provide(:form_path, signup_path) %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'users/form' %>
  </div>
</div>
