<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='field'>
    <%= f.text_area :content, placeholder: "compose new micropost..." %>
  </div>
  <%= f.submit 'Post', class:"btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/jpg,image/png,image/gif' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size
    if (size_in_megabytes > 5.megabytes){
      alert('Maximum file size is 5MB. Please choose a smaller file');
      $('#micropost_picture').val('');
    }
  });
</script>
